*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}
nav{
    flex:1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
a{
    text-decoration: none;
    color:#555;
}
.container{
    max-width: 1300px;
    margin:auto;
    padding-left: 25px;
    padding-right: 25px;;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2{
    flex-basis: 50%;
    min-width: 300px;
}
.col-2 img{
    max-width: 100%;
    padding: 34px 0;
    border-radius: 50%;
}
.col-2 h1{
    font-size:50px;
    line-height: 60px;
    margin:25px;
}
.btn{
    display: inline-block;
    background-color: #ff523b;
    color:#fff;
    padding: 8px 30px;
    margin:30px 0;
    border-radius:25px ;
    transition: background 0.5s;
}
.header{
    background: radial-gradient(#fff,#ffd6d6);
}
.header .row{
    margin-top:20px;
}
.btn:hover{
    background: #563434;
}
.categories{
    margin:70px 0;
   
}
.col-3{
    flex-basis: 30%;
    min-width: 250;
    margin-bottom: 30px;
}
.col img{
    width:100%;
}
.small-container{
    max-width: 1080px;
    margin:auto;
    padding-left: 15px;
    padding-right: 15px;
}
.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition:transform 1.5s;
}
.col-4 img{
    width:100%;
}
.title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color:#555;
}
.title::after{
    content: '';
    background: #ff523b;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left:50%;
    transform: translateX(-50%);
}
h4{
    color:#555;
    font-weight: normal;
}
.col-4p{
    font-size: 14px;
}
.rating .fa{
    color:indigo;
}
.col-4:hover{
    transform: translateY(-5px);
}
.offer{
    background:radial-gradient(#fff,#ffd6d6);
    margin-top:80px;
    padding:30px 0;
}
.col-2 .offer-img{
    padding:15px;
}
small{
    color:#555;
}
.footer{
    background:#000;
    color:#8a8a8a;
    padding:60px 0 20px;
}
.footer p{
    color:#8a8a8a;
}
.footer h3{
    color:#fff;
    margin-bottom: 20px;
}
.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
    min-width: 250px;
    margin-bottom: 20px;
}
.footer-col-1{
    flex-basis: 30%;
}
.footer-col-2{
    flex:1;
    text-align: center;
}
.footer-col-2 img{
    border-radius: 50%;
    width: 180px;
    margin-bottom: 20px;
}
.footer-col-3,.footer-col-4{
    flex-basis: 12px;
    text-align: center;
}
ul{
    list-style-type: none;
}
.footer hr{
    border:none;
    background: #b5b5b5;
    height:2px;
    margin:20px 0;
}
.copyright{
    text-align: center;
}